* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 100%;
    display: flex;
}

.box2>.cnn {
    text-align: 12px;
    color: #637DFF;
    font-size: 14px;
    margin-left: 100px;
}

.box2>.enn {
    text-align: 12px;
    margin-top: -19px;
    color: #637DFF;
    font-size: 14px;
    margin-left: 175px;
}

body {
    background-color: #fff;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo {
    width: 216px;
    margin-bottom: 60px;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    display: block;
    /* 让图片成为块元素 */
    margin-left: auto;
    /* 左边外边距自动调整到最大值 */
    margin-right: auto;
    /* 右边外边距自动调整到最大值 */
    margin-top: 10%;
    margin-bottom: 10%;
}

.login-app {
    width: 348px;
    min-height: 200px;
    margin-bottom: 60px;
    overflow: hidden;
    background-color: aliceblue;
    border-radius: 12px 12px 20px 20px;
    font-size: 0;
}

input[type="radio"] {
    display: none;
}

label.m-btn,
label.u-btn,
label.q-btn {
    display: inline-block;
    background-color: #6a88f7;
    font-size: 18px;
    color: #fff;
    padding: 16px;
    text-align: center;
    width: 33.3%;
    cursor: pointer;
}

.m-btn {
    border-top-left-radius: 12px;
}

.q-btn {
    border-top-right-radius: 12px;
}

#msg:checked+.m-btn,
#uname:checked+.u-btn,
#code:checked+.q-btn {
    background-color: #fff;
    color: #25262b;
    cursor: default;
}

#form-bar {
    font-size: 16px;
}

#msg:checked~#form-bar {
    transform: translateX(0);
}

#uname:checked~#form-bar {
    transform: translateX(-348px);
}

#code:checked~#form-bar {
    transform: translateX(-692px);
}

#form-bar {
    display: flex;
    transition: transform .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

form {
    flex-shrink: 0;
    width: 100%;
    padding: 22px;
    position: relative;
}

input {
    outline: none;
    width: 100%;
    height: 46px;
    margin-bottom: 16px;
    background-color: rgba(39, 39, 41, .04);
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 14px;
    padding: 1px 12px;
    color: #25262b;
}

input::placeholder {
    color: rgba(37, 38, 43, .36);
}

input:focus {
    border: 1px solid rgba(99, 125, 255, .48);
    background-color: #fff;
}

.m-form .get-btn {
    padding: 4px 12px;
    border-radius: 6px;
    font-size: 14px;
    color: #637dff;
    background-color: transparent;
    border: 1px solid rgba(99, 125, 255, .24);
    position: absolute;
    right: 36px;
    margin: -51px 0;

}

.login-btn {
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(129.12deg, #446dff, rgba(99, 125, 255, .75));
    color: #fff;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 60px;
}

button {
    cursor: pointer;
}

.m-form #sure {
    display: none;
}

.m-form label.besure {
    position: absolute;
    border: 2px solid rgba(132, 133, 141, .2);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    left: 22px;
    bottom: 45px;
}

label.besure p {
    margin: 0;
    margin-left: 20px;
    width: 280px;
    font-size: 12px;
    line-height: 1.5;
    color: rgba(37, 38, 43, .36);
    position: relative;
    bottom: 3px;
}

label.besure p a {
    text-decoration: none;
    color: #637dff;
    padding: 0 5px;
}

label.besure::after {
    content: '';
    border: 2px solid #fff;
    position: absolute;
    width: 6px;
    height: 3px;
    border-top: none;
    border-right: none;
    transform: translate(-50%, -50%) rotate(-45deg);
    top: 45%;
    left: 50%;
}

#sure:checked+label.besure {
    background-color: #637dff;
}

#sure:not(:checked)~.login-btn {
    opacity: .5;
    cursor: not-allowed;
}

.goods {
    width: 348px;
    height: 700px;
    background-color: rgb(240, 248, 255);
    margin: 0 auto;
    background: linear-gradient(129.12deg, #F0F8FF, rgba(174, 187, 255, 0.4));
}

.yanjing1 {
    width: 32px;
    right: 97px;
    position: absolute;
    display: block;
    /* 让图片成为块元素 */
    margin: -52px
}

.yanjing2 {
    width: 32px;
    right: 97px;
    position: absolute;
    display: none;
    /* 让图片成为块元素 */
    margin: -52px
}