*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #ddd;
}
.backgroundpic{
    width: 348px;
    height: 100px;
    border-radius: 10%;
}
.yue{
    display: inline-flex;
    align-items: center;
    height: 60px;
    width: 60px;
    margin: 4px 8px;
    overflow: hidden;
    background: #fff;
    border-radius: 30px;
    transition: all 0.5s;
    margin-top: -77px;
    margin-left: -262px;
}
.saoma{
    display: inline-flex;
    align-items: center;
    height: 60px;
    width: 60px;
    margin: 4px 8px;
    overflow: hidden;
    background: #fff;
    border-radius: 30px;
    transition: all 0.5s;
    margin-top: -77px;
    margin-left: -134px;
}
.zhanghu{
    display: inline-flex;
    align-items: center;
    height: 60px;
    width: 60px;
    margin: 4px 8px;
    overflow: hidden;
    background: #fff;
    border-radius: 30px;
    transition: all 0.5s;
    margin-top: -77px;
    margin-left: 12px;
}
.liushui{
    display: inline-flex;
    align-items: center;
    height: 60px;
    width: 60px;
    margin: 4px 8px;
    overflow: hidden;
    background: #fff;
    border-radius: 30px;
    transition: all 0.5s;
    margin-top: -77px;
    margin-left: 193px;
}
.yue:hover,
.saoma:hover,
.zhanghu:hover,
.liushui:hover{
    width: 330px;
    margin-left: 11px;
    margin-bottom: 5px;
    border: none;
}
.yue:hover div,
.saoma:hover div,
.zhanghu:hover div,
.liushui:hover div{
    background-color: #e9e9e9;
}
.yue div,
.saoma div,
.zhanghu div,
.liushui div{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 28px;
    position: relative;
    transition: all 0.5s;
}

.yue div:hover::after,
.saoma div:hover::after,
.zhanghu div:hover::after,
.liushui div:hover::after{
    color: black;
}
.yue div::after{
    position: absolute;
    width: fit-content;
    word-break: keep-all;
    font-size: medium;
    left: 72px;
    pointer-events: auto;
    cursor: pointer;
    content: "余额";
    color: black;
}
.saoma div::after{
    position: absolute;
    width: fit-content;
    word-break: keep-all;
    font-size: medium;
    left: 72px;
    pointer-events: auto;
    cursor: pointer;
    content: "扫码";
    color: black;
}
.zhanghu div::after{
    position: absolute;
    width: fit-content;
    word-break: keep-all;
    font-size: medium;
    left: 72px;
    pointer-events: auto;
    cursor: pointer;
    content: "账户";
    color: black;
}
.liushui div::after{
    position: absolute;
    width: fit-content;
    word-break: keep-all;
    font-size: medium;
    left: 72px;
    pointer-events: auto;
    cursor: pointer;
    content: "流水";
    color: black;
}
.yuetp{
    width: 66px;
    
}
.saomatp{
    width: 45px;
    margin-bottom: -1px;
    margin-left: 3px;
}
.zhanghutp{
    width: 60px;
}
.liushuitp{
    width:46px;
}