* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 348px;
    height: 700px;
    margin: 0 auto;
    overflow: auto;
}

.box0 {
    width: 348px;
    height: 1000px;
    margin: 0 auto;
    background: linear-gradient(129.12deg, #F0F8FF, rgba(174, 187, 255, 0.4));
}

.box1 {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    /* 垂直居中 */
}

.box1-1 {
    width: 18%;
    padding-left: 5%;
    padding-right: 5%;
}

.text-exit,
.text-service {
    font-size: 13px;
}

.box1-2 {
    width: 200px;
    height: 50px;
    background-color: #fff;
    box-shadow:
        0 0 10px rgba(0, 0, 0, 0.4);
    /*在元素周围添加一个模糊度为10像素的阴影，阴影的颜色为半透明的黑色（透明度为0.4）*/
    border-radius: 60px;
    /*圆角*/
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    /* 垂直居中 */
}

.icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon-sou {}

.textInput {
    width: 160px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(151, 151, 224)
}

.textInput input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
}

.clear {
    position: absolute;
    right: 22%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1-3 {
    padding-left: 5%;
    padding-right: 5%;
}

.box2 {
    width: 100%;
    height: 140px;
    background-color: aqua;
}

.box3 {
    width: 100%;
    height: 100px;
    background-color: blue;
}