* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 350px;
    height: 700px;
    margin: 0 auto;
    overflow: auto;
}

.box0 {
    width: 100%;
    height: 1000px;
    margin: 0 auto;
    background: linear-gradient(129.12deg, #F0F8FF, rgba(174, 187, 255, 0.4));

}

.box1 {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    /* 垂直居中 */
    overflow: hidden;
    line-height: 1;
    /*控制行间距*/
}

.box1-1 {
    width: 18%;
    padding-left: 5%;
    padding-right: 5%;
}

.text-exit,
.text-service {
    font-size: 13px;
}

.box1-2 {
    width: 200px;
    height: 50px;
    background-color: #fff;
    box-shadow:
        0 0 10px rgba(0, 0, 0, 0.4);
    /*在元素周围添加一个模糊度为10像素的阴影，阴影的颜色为半透明的黑色（透明度为0.4）*/
    border-radius: 60px;
    /*圆角*/
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    /* 垂直居中 */
}

.icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon-sou {}

.textInput {
    width: 160px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(151, 151, 224)
}

.textInput input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
}

.clear {
    position: absolute;
    right: 22%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1-3 {
    padding-left: 5%;
    padding-right: 5%;
}

.box2 {
    width: 100%;
    height: 140px;
}

.swiper {
    width: 100%;
    height: 140px;
}

.advertise {
    width: 100%;
    height: 140px;
}

.box3 {
    width: 100%;
    overflow: hidden;
}

.box3-1
,.box3-2
,.box3-3
,.box3-4 {
    background: url(https://img0.baidu.com/it/u=703785608,2647885869&fm=253&fmt=auto&app=138&f=JPEG?w=231&h=500);
    background-repeat: no-repeat;
    background-size: cover;
}

.transMoney {
    display: inline-flex;
    align-items: center;
    height: 65px;
    width: 65px;
    margin: 6px 8px;
    overflow: hidden;
    background: #fff;
    border-radius: 30px;
    transition: all 0.5s;
}
.transMoney:hover {
    width: 300px;
}

.payCode{
    display: inline-flex;
    align-items: center;
    height: 65px;
    width: 65px;
    margin: 6px 80px;
    overflow: hidden;
    background: #fff;
    border-radius: 30px;
    transition: all 0.5s;
}
.payCode:hover{
    width: 300px;
    margin: 6px 8px;
}

.account{
    display: inline-flex;
    align-items: center;
    height: 65px;
    width: 65px;
    margin: 6px 160px;
    overflow: hidden;
    background: #fff;
    border-radius: 30px;
    transition: all 0.5s;
}
.account:hover{
    width: 300px;
    margin: 6px 8px;
}

.flow{
    display: inline-flex;
    align-items: center;
    height: 65px;
    width: 65px;
    margin: 6px 240px;
    overflow: hidden;
    background: #fff;
    border-radius: 30px;
    transition: all 0.5s;
}
.flow:hover{
    width: 300px;
    margin: 6px 8px;
}

.transMoney div 
,.payCode div
,.account div
,.flow div{
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;/*水平垂直居中*/
    align-items: center;
    border-radius: 30px;
    position: relative;
    transition: all 0.5s;
}

.transMoney div::after {
    position: absolute;
    width: fit-content;
    word-break: keep-all;
    pointer-events: auto;
    cursor: pointer;
    content: "转账";
    left: 150px;
    font-size: 28px;
    color: black;
}
.payCode div::after {
    position: absolute;
    width: fit-content;
    word-break: keep-all;
    pointer-events: auto;
    cursor: pointer;
    content: "收付款";
    left: 150px;
    font-size: 28px;
    color: black;
}
.account div::after {
    position: absolute;
    width: fit-content;
    word-break: keep-all;
    pointer-events: auto;
    cursor: pointer;
    content: "账户管理";
    left: 150px;
    font-size: 28px;
    color: black;
}
.flow div::after {
    position: absolute;
    width: fit-content;
    word-break: keep-all;
    pointer-events: auto;
    cursor: pointer;
    content: "查看流水";
    left: 150px;
    font-size: 28px;
    color: black;
}