* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box {
    width: 350px;
    height: 700px;
    margin: 0 auto;
    overflow: auto;
}

.box0 {
    width: 100%;
    height: 1000px;
    margin: 0 auto;
    background: linear-gradient(129.12deg, #F0F8FF, rgba(174, 187, 255, 0.4));
}

.box1 {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;/* 垂直居中 */
    overflow: hidden;
    line-height: 1;/*控制行间距*/
    position:sticky;/*粘性定位做导航栏*/
    top: 0px;
    z-index: 10;/*设置图层优先级*/
    background-color:#EEF6FF;
}

.box1-1 {
    width: 18%;
    padding: 2% 2% 2% 4%;
    margin-left: 1%;
    margin-right: 2%;
    border-radius: 30px;
    transition: 0.5s ease;
}
.box1-1:hover{
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.3);
}

.text-exit,
.text-service {
    font-size: 13px;
}

.box1-2 {
    width: 200px;
    height: 50px;
    background-color: #fff;
    box-shadow:
        0 0 10px rgba(0, 0, 0, 0.4);
    /*在元素周围添加一个模糊度为10像素的阴影，阴影的颜色为半透明的黑色（透明度为0.4）*/
    border-radius: 60px;
    /*圆角*/
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    /* 垂直居中 */
}

.icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.textInput {
    width: 160px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(151, 151, 224)
}

.textInput input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
}

.clear {
    position: absolute;
    right: 22%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1-3 {
    width: 18%;
    padding: 2% 2% 2% 4%;
    margin-left: 1%;
    margin-right: 2%;
    border-radius: 30px;
    transition: 0.5s ease;
}
.box1-3:hover{
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.3);
}

.box2 {
    width: 100%;
    height: 140px;
}

.swiper {
    width: 100%;
    height: 140px;
}

.advertise {
    width: 100%;
    height: 140px;
}

.box3 {
    width: 100%;
    overflow: hidden;
}

.box3-1 {
    background: url(./images/bg01.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5%;
    width: 100%;
    height: 77px;
}

.box3-2 {
    background: url(./images/bg02.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5%;
    width: 100%;
    height: 77px;
    margin-top: -2px;
}

.box3-3 {
    background: url(./images/bg03.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5%;
    width: 100%;
    height: 77px;
    margin-top: -2px;
}

.box3-4 {
    background: url(./images/bg04.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5%;
    width: 100%;
    height: 77px;
    margin-top: -2px;
}

.transMoney {
    display: inline-flex;
    align-items: center;
    height: 65px;
    width: 65px;
    margin: 6px 8px;
    overflow: hidden;
    background: #fff;
    border-radius: 30px;
    transition: all 0.5s;
}

.transMoney:hover {
    width: 300px;
}

.payCode {
    display: inline-flex;
    align-items: center;
    height: 65px;
    width: 65px;
    margin: 6px 80px;
    overflow: hidden;
    background: #fff;
    border-radius: 30px;
    transition: all 0.5s;
}

.payCode:hover {
    width: 300px;
    margin: 6px 8px;
}

.account {
    display: inline-flex;
    align-items: center;
    height: 65px;
    width: 65px;
    margin: 6px 160px;
    overflow: hidden;
    background: #fff;
    border-radius: 30px;
    transition: all 0.5s;
}

.account:hover {
    width: 300px;
    margin: 6px 8px;
}

.flow {
    display: inline-flex;
    align-items: center;
    height: 65px;
    width: 65px;
    margin: 6px 240px;
    overflow: hidden;
    background: #fff;
    border-radius: 30px;
    transition: all 0.5s;
}

.flow:hover {
    width: 300px;
    margin: 6px 8px;
}

.transMoney div,
.payCode div,
.account div,
.flow div {
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    /*水平垂直居中*/
    align-items: center;
    border-radius: 30px;
    position: relative;
    transition: all 0.5s;
}

.transMoney div::after {
    position: absolute;
    width: fit-content;
    word-break: keep-all;
    pointer-events: auto;
    cursor: pointer;
    content: "转账";
    left: 125px;
    font-size: 28px;
    /* color: rgb(61, 118, 210); */
    font-weight: 700;
    letter-spacing: 25px;

    /* 渐变效果 */
    /* background-image: -webkit-linear-gradient(left, #e9a5a5, #b8c1c0 10%, #65c0e0 20%, #aea2db 30%, #81c1d9 40%, #e9a5a5 50%, #b8c1c0 60%, #65c0e0 70%, #aea2db 80%, #81c1d9 90%, #e9a5a5); */
    background-image: url(./images/bg03.png);
    color: transparent;
    /* 将背景裁剪为文字 */
    -webkit-background-clip: text;
    /* 背景放大一倍，动画才有移动的空间 */
    background-size: 50% 100%;
    /* 动画 规定四秒执行完 无限循环 匀速播放 */
    animation: a 5s infinite linear;
}

.payCode div::after {
    position: absolute;
    width: fit-content;
    word-break: keep-all;
    pointer-events: auto;
    cursor: pointer;
    content: "收付款";
    left: 115px;
    font-size: 26px;
    /* color: rgb(61, 118, 210); */
    font-weight: 700;
    letter-spacing: 15px;

    /* 渐变效果 */
    /* background-image: -webkit-linear-gradient(left, #e9a5a5, #b8c1c0 10%, #65c0e0 20%, #aea2db 30%, #81c1d9 40%, #e9a5a5 50%, #b8c1c0 60%, #65c0e0 70%, #aea2db 80%, #81c1d9 90%, #e9a5a5); */
    background-image: url(./images/bg01.png);
    color: transparent;
    /* 将背景裁剪为文字 */
    -webkit-background-clip: text;
    /* 背景放大一倍，动画才有移动的空间 */
    background-size: 50% 100%;
    /* 动画 规定四秒执行完 无限循环 匀速播放 */
    animation: a 5s infinite linear;
}

.account div::after {
    position: absolute;
    width: fit-content;
    word-break: keep-all;
    pointer-events: auto;
    cursor: pointer;
    content: "账户管理";
    left: 120px;
    font-size: 26px;
    /* color: rgb(61, 118, 210); */
    font-weight: 700;
    letter-spacing: 5px;

    /* 渐变效果 */
    /* background-image: -webkit-linear-gradient(left, #e9a5a5, #b8c1c0 10%, #65c0e0 20%, #aea2db 30%, #81c1d9 40%, #e9a5a5 50%, #b8c1c0 60%, #65c0e0 70%, #aea2db 80%, #81c1d9 90%, #e9a5a5); */
    background-image: url(./images/bg04.png);
    color: transparent;
    /* 将背景裁剪为文字 */
    -webkit-background-clip: text;
    /* 背景放大一倍，动画才有移动的空间 */
    background-size: 50% 100%;
    /* 动画 规定四秒执行完 无限循环 匀速播放 */
    animation: a 5s infinite linear;
}

.flow div::after {
    position: absolute;
    width: fit-content;
    word-break: keep-all;
    pointer-events: auto;
    cursor: pointer;
    content: "查看流水";
    left: 113px;
    font-size: 26px;
    /* color: rgb(61, 118, 210); */
    font-weight: 700;
    letter-spacing: 5px;

    /* 渐变效果 */
    /* background-image: -webkit-linear-gradient(left, #e9a5a5, #b8c1c0 10%, #65c0e0 20%, #aea2db 30%, #81c1d9 40%, #e9a5a5 50%, #b8c1c0 60%, #65c0e0 70%, #aea2db 80%, #81c1d9 90%, #e9a5a5); */
    background-image: url(./images/bg02.png);
    color: transparent;
    /* 将背景裁剪为文字 */
    -webkit-background-clip: text;
    /* 背景放大一倍，动画才有移动的空间 */
    background-size: 50% 100%;
    /* 动画 规定四秒执行完 无限循环 匀速播放 */
    animation: a 5s infinite linear;
}

.box4{
    width: 100%;
    height: 50px;
    margin-top: 30px;
}
.box4-1{
    width: 30%;
    height: 50px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 5px;
    border-right: solid 2px #AFAFAF;
    float: left;
}
.box4-2{
    font-size: 20px;
    width: 70%;
    height: 50px;
    padding-left: 5%;
    line-height: 50px;/*设置为父容器的高度可以实现垂直居中*/
    float: right;
}

.box5{
    border-top: solid #005ebd 1px;/*设置一条分界线*/
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50%;
}
.box5 p{
    font-size: 22px;
    font-weight: 400;
    line-height: 200%;
    letter-spacing: 5px;
}
.activity-1{
    width: 48%;
    height: 150px;
    border-radius: 10px;
    background-color: aqua;
    background: url("https://img0.baidu.com/it/u=1165965543,1085934055&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=666");
    background-size: cover;
    float: left;
    margin-right: 4%;
}
.activity-2{
    width: 48%;
    height: 150px;

    background-color: aqua;
    background-size: cover;
    float: left;
}

.activity-2-1{
    width: 100%;
    height: 48%;
    background-color: red;
    border-radius: 10px;
    background: url("https://img0.baidu.com/it/u=1165965543,1085934055&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=666");
    background-size: cover;
    margin-bottom: 4%;
}
.activity-2-2{
    width: 100%;
    height: 48%;
    background-color: red;
    border-radius: 10px;
    background: url("https://img0.baidu.com/it/u=1165965543,1085934055&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=666");
    background-size: cover;
}

.box6{
    width: 100%;
    height: 50px;
    background-color: #005ebd;
    margin-top: 300px;
    position: sticky;
    bottom: 0px;
    z-index: 10;/*设置图层优先级*/
}